@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

img{
    max-width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

nav{
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 2rem 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: black;
}

.link a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    background-color: #1d4ed8;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #2563eb;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px rgba(0, 0, 0, 0.5);
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #1d4ed8;
}

header .content h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #1d4ed8, #2563eb);
    -webkit-background-clip: text;
    background-clip: text;
}

header .content p{
    margin-bottom: 2rem;
    color: #6b7280;
}

header .image{
    position: relative;
}

header .image::before{
    content: 'x';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 4rem;
}

.project .card{
    padding: 2rem;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project .card:hover{
    border: 2px solid #1d4ed8;
}

.project .card span{
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
}

.project .card h4{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.project .card p{
    color: #6b7280;
    font-size: 1rem;
    font-weight: 400;
}

.project .card a{
    transition: all 0.3s ease;
}

.project .card a:hover{
    color: #1d4ed8;
}

.services{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 4rem;
}

.services .card{
    padding: 2rem;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.services .card:hover{
    border: 2px solid #1d4ed8;
}

.services .card span{
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
}

.services .card h4{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.services .card p{
    color: #6b7280;
    font-size: 1rem;
    font-weight: 400;
}

.services .card a{
    transition: all 0.3s ease;
}

.services .card a:hover{
    color: #1d4ed8;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.about{
    display: contents;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 4rem;
} 

.about .card{
    padding: 3rem 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.about .card:hover{
    border: 2px solid #1d4ed8;
}

.about .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.about .card img{
    max-width: 200px;
    margin-bottom: 1rem;
}

.about .card h4{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #1d4ed8;
}

.about .card h3{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #f4f4f4;
}

.about .card p{
    color: #6b7280;
    margin-bottom: 0.75rem;
}
.about .card p i{
    color: #1d4ed8;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.about .card .skils{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    gap: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #f4f4f4;
}

.about .card .skils li{
    padding: 0.5rem 1rem;
    color: black;
}

.about .card .skils img{
    max-width: 30px;
}

.about .card button{
    padding: 1rem 2rem;
    background-color: #1d4ed8;
    color: #fff;
    border: 2px solid #1d4ed8;
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 250px;
}

.about .card button:hover{
    background-color: #1d4ed8;
    color: #fff;
}

footer{
    position: relative;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer .column .socials a{
    color: #6b7280;
    transition: all 0.3s ease;
    border: 1px solid #6b7280;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
}

footer .column .socials a:hover{
    color: #1d4ed8;
    border-color: #1d4ed8;
}   

footer .column h4{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

footer .column > a{
    display: block;
    margin-bottom: 1rem;
    color: #6b7280;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
    color: #6b7280;
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .nav-links {
        display: flex;
    }
    header {
        grid-template-columns: repeat(1, 1fr);
    }
    header .image {
        grid-area: 1/1/2/2;
    }
    .project {
        grid-template-columns: repeat(2, 1fr);
    }
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
    .about {
        grid-template-columns: repeat(2, 1fr);
    }
    footer {
        grid-template-columns: 1fr 200px;
    }
}

@media screen and (max-width: 900px) {
    .nav-links {
        display: flex;
    }
    header {
        grid-template-columns: repeat(1, 1fr);
    }
    header .image {
        grid-area: 1/1/2/2;
    }
    .project {
        grid-template-columns: repeat(2, 1fr);
    }
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
    .about {
        grid-template-columns: repeat(2, 1fr);
    }
    footer {
        grid-template-columns: 1fr 200px;
    }
}

@media screen and (max-width: 600px) {
    .nav-links {
        display: none;
    }
    header .image::before {
        display: none;
    }
    .project {
        grid-template-columns: repeat(1, 1fr);
    }
    .services {
        grid-template-columns: repeat(1, 1fr);
    }
    .about {
        grid-template-columns: repeat(1, 1fr);
    }
    footer {
        grid-template-columns: 1fr 150px;
    }
}

@media screen and (max-width: 400px) {
    .nav-links {
        display: none;
    }
    header .image {
        grid-area: 1/1/3/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .image img {
        max-width: 100%;
        max-height: 100%;
    }
    .project {
        grid-template-columns: repeat(1, 1fr);
    }
    .services {
        grid-template-columns: repeat(1, 1fr);
    }
    .about {
        grid-template-columns: repeat(1, 1fr);
    }
    footer {
        grid-template-columns: 1fr 100px;
    }
}